@import url('https://fonts.googleapis.com/css2?family=Open%20Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Offside&display=swap');
@import '../node_modules/@material/web/typography/md-typescale-styles.scss';

:root {
    --md-sys-color-primary: #0a9739;

    --md-linear-progress-track-height: 8px;
    --md-linear-progress-track-shape: 8px;
    --md-linear-progress-active-indicator-height: 8px;
    --md-sys-color-surface-container-highest: #DDE4E3;

    --md-elevation-level: 10;
    --md-sys-color-shadow: #006A6A;

    --md-ref-typeface-brand: 'Offside';
    --md-ref-typeface-plain: system-ui;
    --md-sys-typescale-label-large-font: 'Offside';
    --md-icon-font: 'Material Symbols Rounded';

    --width-controllers: 100%;
    --margin-controller: 1rem;

    --leg-part-length: 10vmin;
}

h1 {
    text-align: center;
}

/*-------------------------------- CONTAINER */

.container {
    margin: var(--margin-controller);
    display: flex;
    flex-direction: column;
    gap: var(--margin-controller);
}

.controllers {
    width: var(--width-controllers);
    height: 100%;
    min-height: 100%;
}

.tab {
    height: fit-content;
    transform: rotate(0deg);
    border-radius: 1rem;
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    :root {
        --width-controllers: 50%;
    }
}

@media screen and (min-width: 1240px) {
    :root {
        --width-controllers: 33%;
    }
}

/*-------------------------------- ANGLE CONTROLLERS */

#angle-controller {
    display: flex;
    flex-direction: column;
    gap: var(--margin-controller);
}

#angle-controller > md-slider {
    padding: 0.5rem 0;
    min-width: 100%
}

/*-------------------------------- POS ORN CONTROLLERS */

#pos-orn-controller {
    @extend #angle-controller;
    display: none;
}

.pos {
    display: block;
}

.orn {
    display: none;
}

.icon-slider{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;
    padding: 0.5rem 0 0.5rem 1rem;
    min-width: 100%
}

.icon-slider md-icon{
    margin: auto auto;
}

.icon-slider md-slider{
    min-width: 0;
    flex-grow: 1;
}

/*-------------------------------- VIDEO CONTROLLER */

#video-controller {
    aspect-ratio: 2/1;
    display: none;
}

#video-controller label {
    justify-self: center;
    font-size: larger;
    min-height: 100%;
}

/*-------------------------------- CONNECTION */

.connection-controller {
    transform: rotate(0deg);
    margin: var(--margin-controller);
    border-radius: 1rem;
}

.connection-buttons {
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem 0 1rem;
    padding: 0 1rem;
    border-radius: 1rem;
}

.connection-buttons > * {
    flex-grow: 1;
}

.connection-controller > md-outlined-text-field {
    width: calc(100% - 2rem);
    margin: 0rem 1rem 1rem 1rem;
}

/*-------------------------------- LEGS VIEW */

.legs-view {
    aspect-ratio: 3 / 3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 40% 20%;
    border-radius: 1rem;
    transform: rotate(0deg);
    max-height: 70vh;
}

.leg-view{
    padding: 20% 40% 20% 40%;
}

// .legs-view .front{
//     padding: 20% 40% 20% 40%;
// }

.leg {
    transform: rotate(-45deg);
    transform-origin: 0 0;
}

.leg * {
    height: var(--leg-part-length);
    width: 0.6rem;
    background-color: #505050;
    border-radius: 0.2rem;
}

.tibia {
    transform: rotate(135deg);
    transform-origin: 0 0;
}

@media screen and (min-width: 768px) {
    .legs-view {
        width: calc(100% - var(--width-controllers));
    }
}

.legs-view-buttons {
    width: auto;
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
}

.legs-view-buttons > * {
    flex-grow: 1;
}

/*-------------------------------- WALK AND TURN CONTROL */

#walk-turn-controller {
    display: flex;
    flex-direction: row;
    aspect-ratio: 1178 / 806;
    margin: 3rem 3rem;
}

#turn-controller{
    background-image: url('../images/turnControl.png');
    background-size: 100% 100%;
    aspect-ratio: 186 / 806;
    display: flex;
    align-items: center;
}

#turn-controller .pointer{
    width: 60%;
    aspect-ratio: 1/1;
    background-color: #0a9739;
    border-radius: 50%;
    transform-origin: 525% 50%;
}

#speed-controller{
    @extend #turn-controller;
    background-image: url('../images/speedControl.png');
}

#speed-controller .pointer{
    @extend .pointer;
    margin-left: 17%;
}

#walk-controller{
    background-image: url('../images/circonferenzaDirezione.jpg');
    background-size: 100% 100%;
    aspect-ratio: 1 / 1;
}

#walk-controller #walk-direction-line{
    border-radius: 2px;
    background-color: green;
    height: 50%;
    position: relative;
    left: calc(50% - 1px);
    transform: rotate(-90deg);
    transform-origin: 50% 100%;
    width: 3px;
}

#walk-controller img{
    position: relative;
    left: 25%;
    top: -20%;
    width: 50%;
    height: 40%;
}
