@import url('https://fonts.googleapis.com/css2?family=Open%20Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Offside&display=swap');
@import '../node_modules/@material/web/typography/md-typescale-styles.scss';

:root {
    --md-sys-color-primary: #0acb4a;

    --md-linear-progress-track-height: 8px;
    --md-linear-progress-track-shape: 8px;
    --md-linear-progress-active-indicator-height: 8px;
    --md-sys-color-surface-container-highest: #DDE4E3;

    --md-elevation-level: 10;
    --md-sys-color-shadow: #006A6A;

    --md-ref-typeface-brand: 'Offside';
    --md-ref-typeface-plain: system-ui;
    --md-sys-typescale-label-large-font: 'Offside';
    --md-icon-font: 'Material Symbols Rounded';

    --width-controllers: 100%;
    --angle-controller-margin: 0.7rem;

    --leg-part-length: 10vmin;

    /* --width-angle-controllers: 40vw;
    --height-angle-controllers: 40vh;
    --width-angle-controller: calc(var(--width-angle-controllers) / 2); */
}

h1 {
    text-align: center;
}

/*-------------------------------- CONTAINER */

.controllers {
    width: var(--width-controllers);
}

@media screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    :root {
        --width-controllers: 50%;
    }
}

@media screen and (min-width: 1240px) {
    :root {
        --width-controllers: 33%;
    }
}

/*-------------------------------- ANGLE CONTROLLERS */
.angle-controllers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.angle-controller {
    margin: var(--angle-controller-margin);
    width: calc(50% - 2 * var(--angle-controller-margin));
    border-radius: 1rem;
    transform: rotate(0deg);
}

.angle-controller h3 {
    text-align: center;
    @extend .md-typescale-label-large;
}

.angle-controller > md-slider {
    min-width: 100%;
}

/*-------------------------------- POS ORN CONTROLLERS */

.pos-orn-controllers {
    @extend .angle-controllers;
}

.pos-orn-controller {
    @extend .angle-controller;
}

.icon-slider{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;
    padding-left: 1rem;
}

.icon-slider md-icon{
    margin: auto auto;
}

.icon-slider md-slider{
    min-width: 0;
    flex-grow: 1;
}

/*-------------------------------- LEGS VIEW */

.legs-view {
    margin: var(--angle-controller-margin);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    border-radius: 1rem;
    transform: rotate(0deg);
}

.leg-view {
    padding: 20% 40%;
}

.leg {
    transform: rotate(-45deg);
    transform-origin: 0 0;
}

.leg * {
    height: var(--leg-part-length);
    width: 0.6rem;
    background-color: #505050;
    border-radius: 0.3rem;
}

.leg *:nth-child(2) {
    transform: rotate(135deg);
    transform-origin: 0 0;
}

@media screen and (min-width: 768px) {
    .legs-view {
        width: calc(100% - var(--width-controllers));
    }
}